@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");

body {
  background-image: url("violin_subtract.png");
}

.container {
  background-color: rgb(66, 9, 7, 0.3);
}

.collapse {
  position: absolute;
  z-index: 1;
}
#heifetz_link {
  margin-top: -20px;
  margin-bottom: 5%;
}

#navbarNav {
  position: relative;
  height: auto;
  padding-bottom: 0;
  background: transparent;
}

.card-body span {
  background-color: rgba(46, 43, 43);
  padding: 1rem;
  box-shadow: 5px 15px 5px rgb(217, 83, 79, 0.6);
}
button.btn-light {
  margin-bottom: 20px;
}

.navbar {
  background-color: rgb(217, 83, 79, 0.2);
}
@media only screen and (max-width: 400px) {
  nav {
    margin-bottom: -3rem;
  }
}
h2 {
  /* margin-bottom: 30px; */
  font-family: "Marko One", serif;
  margin-bottom: 20px;
}
@keyframes animtext {
  from {
    width: 0;
    transition: all 2s ease-in-out;
  }
}

.navbar-brand {
  font-family: "Marko One", serif;
  padding-bottom: -0.1rem;
}


@media only screen and (max-width: 600px) {
  #header {
    font-size: 0;
    margin-bottom: 0;
  }
}

#alertFormat {
  padding: 20px;
  list-style-type: none;
  background-color: rgb(217, 83, 79, 0.2);
}

.nav-item {
  padding-right: 0.2rem;
}

p,
li {
  font-size: 1.2em;
}
h2 {
  font-size: 2.5em;
}

.cardSpacing {
  box-shadow: 0px 0px;
  padding-bottom: 1rem;
  width: auto;
  height: auto;
  margin-bottom: -50px;
}

.btn-list {
  margin-bottom: 5rem;
}

.btn-list:hover,
.btn-danger:hover {
  transform: scale(0.97);
}
.btn-danger {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

#player {
  border: 5px dotted white;
}

.popover-body {
  background-color: rgba(46, 43, 43) !important;
  color: whitesmoke !important;
  /* font-size: 16px !important; */
  max-width: auto !important;
  box-shadow: 5px 15px 5px rgb(217, 83, 79, 0.6);
}
.form-control {
  margin-bottom: 2em;
}
LABEL {
  font-size: 120%;
}
#embed {
  margin-top: 20px;
}